{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div><img src="{% static 'images/list.png' %}" width="40" height="40" > CHECKI Log in</div>
    {% if error %}
        <h4 class="text-danger">{{ error }}</h4>
    {% endif %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="1">
            <label><span class="example">Username</span></label>
            <input type="text" name="username" class="button2">
        </div>
        <div class="1">
            <label><span class="example1">Password</span></label>
            <input type="password" name="password" class="button2">
        </div>
        <button type="submit" class="button button1">Submit</button>
    </form>

{% endblock %}