{% extends 'base.html' %}


{% block body %}
    <div id="main">
        <a href="../" type="button" class="btn btn-primary">View lists</a>
        <hr>
        <h3>Tasks</h3>
        <form method="GET" class="form-inline" action="./completed">
            <input class="form-control" type="text" name = "name" placeholder="Search">
            <button type="submit" class="btn btn-primary my-1" style="margin-left: 5px;">Submit</button>
        </form>
        <a href="./completed" type="button" class="btn btn-primary">Reset</a>
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Order by
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" onclick="window.location.href='./completed?order=name'">Name</a>
                <a class="dropdown-item" onclick="window.location.href='./completed?order=cr_date'">Creation date</a>
            </div>
        </div>
        <table class="table">
            <tr>
                <th>Task</th>
                <th>Created</th>
                <th>Due on</th>
                <th>Owner</th>
                <th>Mark</th>
            </tr>
            {% for task in tasks %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.cr_date }}</td>
                        <td>{{ task.due_date }}</td>
                        <td>{{ task.owner }}</td>
                        <td>
                            <a href="./task_notdone/{{task.id}}"><button type="button" class="btn btn-default dn_btn">Not done</button></a>
                        </td>
                    </tr>
            {% endfor %}
        </table>
        <a href="./todo" type="button" class="btn btn-warning">View incompleted tasks</a>
    </div>
{% endblock %}