{% extends 'base.html' %}


{% block body %}
    <div id="main">
        <a href="listsct" type="button" class="button button1">View lists</a>
        <a href="create_list"><button type="button" class="column1 button008 button1">Add task</button></a>
        <hr>
        <table class="table" id="customers">
            <tr>
                <th>Task</th>
                <th>Created</th>
                <th>Due on</th>
                <th>Owner</th>
            </tr>
            {% for task in tasks %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.cr_date }}</td>
                        <td>{{ task.due_date }}</td>
                        <td>{{ task.owner }}</td>
                        <td>
                            <a href="./task_done/{{task.id}}"><button type="button" class="button button1">Done</button></a>
                        </td>
                    </tr>
            {% endfor %}
        </table>
        <a href="./completed" type="button" class="button button1">View completed tasks</a>
        <a href="./delete_list"><button type="button"  class="button button1">Delete this list</button></a>
    </div>
{% endblock %}