body{
    margin: 0 0 0 0;
}
h3{
    margin-top: 0;
}
#navbar{
    background-color: black;
    border: 0;
}
#navbar h4{
    color: white;
    margin: 20px 10px;

}
.navbar {
    border-radius: 0px !important;
}
.dn_btn{
    background-color: #009999 !important;
    color: white !important;
}
#main{
    width: 70%;
    margin: 0px auto;
}

#navbar2{
    margin-left: 100px !important;
    background-color: black;
    border: 0;
}
#navbar2 a{
    font-size: 20em;
    color: white;
    margin: 20px 10px;
}